@inherits StateContainerComponent<HomeContentViewModel>
@page "/"
@layout AdminOverlayLayout

<PageTitle>Home</PageTitle>
<div class="module">
    <div class="inner">
        

        @if(!ViewModel.IsChoiceOnScreen && ViewModel.TombolaDataList is not null)
        {
            <button type="button" disabled="@ViewModel.TombolaIsProgress" @onclick="() => ViewModel.AskChoice()">
                <icon class="oi oi-cog"></icon>
            </button>
        }
        @if(ViewModel.ResultIndex is not null && !ViewModel.TombolaIsProgress)
        {
            int index = ViewModel.ResultIndex ?? 0;
            int primary = ViewModel.PrimaryInfoColumnIndex ?? -1;
            int secondary = ViewModel.SecondaryInfoColumnIndex ?? -1;
            <div class="flex-container">
                <div class="result-card ">
                    <div class="inner">
                        @if(ViewModel.TombolaDataList.Count > index)
                        {
                            @if (primary >= 0)
                            {
                                <p class="primary">@ViewModel.TombolaDataList[index].Details[primary]</p>
                            }
                            @if(secondary >= 0)
                            {
                                 <p>@ViewModel.TombolaDataList[index].Details[secondary]</p>
                            }
                        }
                    </div>
                </div>
            </div>
        }

        @if (ViewModel.IsChoiceOnScreen)
        {
            <div class="popup-box">
                <div class="inner text">
                    <h2>@T.TEXT("SELECT_PRIMARY_INFO")</h2>
                    <p>@T.TEXT("TWO_SELECTION_POSSIBLE")</p>

                    @{
                        var details = ViewModel.TombolaDataHeader?.Details;
                        int count = details?.Length ?? 0;
                    }

                    @if (details != null)
                    {
                        @for (int i = 0; i < count - 1; i++)
                        {
                            var index = i; 
                            var detailValue = details[index];
                            string btnclass= "";

                            @if(ViewModel.PrimaryInfoColumnIndex == index || ViewModel.SecondaryInfoColumnIndex == index)
                            {
                                btnclass = " selected ";
                            }

                            <button type="button"
                                    class="btn btn-secondary @btnclass"
                                    @onclick="() => ViewModel.HandleInfoSelected(index)"
                                    @ondblclick="() => ViewModel.HandlePrimaryInfoSelected(index)">

                                <span>@detailValue</span>

                                @if (ViewModel.PrimaryInfoColumnIndex == index)
                                {
                                    <span class="selected-tag primary">1</span>
                                }
                                else if(ViewModel.SecondaryInfoColumnIndex == index)
                                {
                                    <span class="selected-tag secondary">2</span>
                                }
                            </button>
                        }

                        <button type="button" @onclick="() => ViewModel.ValidChoice()">
                            <span>@T.TEXT("CHOICE_DONE")</span>
                        </button>
                    }
                </div>
            </div>
        }
        
        <div class="btn-container">
        @if(ViewModel.TombolaDataList is null)
        {
            <div class="home-box centered-box">
                <div class="inner text-center">
                    <h1>@AppConfig["AppSettings:ApplicationName"]</h1>
                    <p>@T.TEXT("APP_SLOGAN")</p>
                    <div class="upload-container">

                        <label for="isHeaderInput" >@T.TEXT("IS_FIRST_LINE_HEADER")</label>
                        <InputCheckbox id="isHeaderInput" @bind-Value="ViewModel.IsFirstLineHeader" />
                        <label for="fileInput" class="btn btn-primary">
                            <i class="oi oi-cloud-upload"></i> Sélectionner un CSV
                        </label>

                        <InputFile id="fileInput" OnChange="ViewModel.HandleFileSelected" accept=".csv" style="display:none" />


                        @if (@ViewModel.isProcessing)
                        {
                            <p><em>@T.TEXT("LOADING")</em></p>
                        }
                    </div>
                </div>
            </div>
        }

        else if(!ViewModel.TombolaIsProgress && !ViewModel.IsChoiceOnScreen)
        {
            <div class="flex-container">
                <button class="ui-action" type="button" @onclick="() => ViewModel.RandomChoice()">
                    <span>@T.TEXT("GO")</span>
                </button>
            </div>

        }
        else if(ViewModel.TombolaIsProgress)
        {
            <div class="flex-container">
                <LuckyLoader />
            </div>
            
            <div class="flex-container">
                <button class="ui-action" type="button" disabled="@ViewModel.TombolaIsProgress" @onclick="() => ViewModel.RandomChoice()">
                    <span>@T.TEXT("GO")</span>
                </button>
            </div>
        }
        </div>
	</div>
</div>


